<!DOCTYPE html>
<html lang="en">
<!-- head.html -->
<head>
    <title>{% block titulo %} Pase {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/custom.css"/>
    {% block scripts %} {% endblock %}
</head>


<body>


<!-- nav.html -->
<nav class="navbar navbar-inverse" style="background-color:#d1f4e3; border-color: #d1f4e3; color:BLACK;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a href="/"><img src="/img/pacaIMG.png" height="55" alt="logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="color:BLACK;">
            <ul class="nav navbar-nav">

                {% if sesion!=null %}
                <li><a href="/user/list">Listado de usuarios</a></li>
                {% endif %}
                {% if sesion!=null %}
                <li><a href="/peticion/list">Peticiones de amistad</a></li>
                {% endif %}
                {% if sesion!=null %}
                <li><a href="/user/friendsList">Amigos</a></li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if sesion==null %}
                <li><a href="/signup"> <span
                        class="glyphicon glyphicon-user"></span> Registrate
                </a></li>
                <li><a href="/login"
                > <span
                        class="glyphicon glyphicon-log-in"></span> Identifícate
                </a></li>
                {% endif %}
                {% if sesion!=null %}
                <li><a href="/logout"> <span
                        class="glyphicon glyphicon-log-out"></span> Desconectar
                </a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>


<div class="container">
    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');
        if (mensaje != "") {
            if (tipoMensaje == "") {
                tipoMensaje = 'alert-info';
            }
            $(".container")
                .append("<div class='alert " + tipoMensaje + "'>" + mensaje + "</div>");
        }

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>

    {% block contenido_principal %}
    <!-- Posible contenido por defecto -->
    {% endblock %}

</div>


<footer class="footer">
    <div class="container">
        <span class="text-muted">Pase&copy;</span>
    </div>
</footer>

</body>
</html>
