{% extends "base.html" %}

{% block titulo %} Usuarios de Pase {% endblock %}

{% block contenido_principal %}
<!--Búsqueda-->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/user/list">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre o Email del Usuario" name="busqueda"/>
                <span class="input-group-btn">
                    <button class="btn" type="submit" id="search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<!--Listado de Usuarios-->
<h2 id="listadoUsuarios">Listado de Usuarios</h2>
<table class="table table-hover" id="tableUsers">
    <thead>
    <tr>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th class="col-md-1"></th>
    </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios %}
        <tr>
            <td> {{usuario.email}}</td>
            <td> {{usuario.nombre}}</td>
            <td> {{usuario.apellido}}</td>
            {% if usuario.esAmigo %}
            <td>Ya eres amigo de este usuario</td>
            {% elseif usuario.tienePeticion %}
            <td>Ya has enviado una petición.</td>
            {% elseif usuario.email == sesion %}
            <td>¿Quieres ser amigo de ti mismo?</td>
            {% else %}
            <td><a class="btn btn-primary pull-right"
                   href="/peticion/mandar/{{usuario._id.toString()}}">
                Mandar Solicitud de Amistad</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
<div class="row text-center">
    <ul class="pagination">
        <!-- Primera -->
        <li class="page-item" >
            <a class="page-link" href="/user/list?pg=1&busqueda={{ busqueda }}" >Primera</a>
        </li>

        <!-- Anterior (si la hay ) -->
        {% if pgActual-1 >= 1 %}
        <li class="page-item">
            <a class="page-link" href="/user/list?pg={{ pgActual -1 }}&busqueda={{ busqueda }}" >{{ pgActual -1 }}</a>
        </li>
        {% endif %}

        <!-- Actual -->
        <li class="page-item active" >
            <a class="page-link" href="/user/list?pg={{ pgActual }}&busqueda={{ busqueda }}">{{ pgActual }}</a>
        </li>

        <!-- Siguiente (si la hay) -->
        {% if pgActual+1 <= pgUltima %}
        <li class="page-item">
            <a class="page-link" href="/user/list?pg={{ pgActual+1 }}&busqueda={{ busqueda }}" >{{ pgActual+1 }}</a>
        </li>
        {% endif %}

        <!-- Última -->
        <li class="page-item" >
            <a class="page-link" href="/user/list?pg={{ pgUltima }}&busqueda={{ busqueda }}" >Última</a>
        </li>
    </ul>
</div>
{% endblock %}